.section-title {
  text-align: center;
  padding: 3rem;
}

.about-section {
  max-width: 80%;
  margin: auto;
  transition: all 0.4s;
  padding: 5rem 0;
}

.about-content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  padding-bottom: 5rem;
}

.about-img {
  max-width: clamp(550px, 50%, 600px);
  width: 100%;
  height: auto;
  border-radius: 5px;
}

.about-info {
  max-width: clamp(400px, 80%, 700px);
  display: flex;
  gap: 2rem;
  padding-bottom: 20px;
  margin: auto;

  .paragraph-number {
    font-size: clamp(1rem, 2.5vw, 1.8rem);
    font-weight: 700;
    color: #9b9b9b;
    max-width: 20px;
  }
}

h3 {
  font-size: clamp(1rem, 2.5vw, 1.8rem);
  color: #3d3d3d;
  padding-bottom: 10px;
}

.about-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 420px;
}

@media (max-width: 1100px) {
  .about-content {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  .about-img {
    max-width: 700px;
    width: 100%;
    height: auto;
    border-radius: 5px;
    margin: auto;
  }

  .about-text {
    height: 200px;
  }

  .about-info {
    gap: 1.5rem;
  }
}
