.booking-section {
  max-width: 80%;
  margin: auto;
}

.booking-cities {
  display: flex;
  justify-content: space-between;
}

.booking-img {
  max-width: clamp(150px, 22vw, 350px);
  border-radius: 5px;
}

h4 {
  font-size: clamp(0.8rem, 1.8vw, 1.5rem);
  color: #3d3d3d;
  padding-bottom: 10px;

  span {
    font-size: clamp(0.7rem, 1.5vw, 1.1rem);
    opacity: 0.8;
  }
}

.checked {
  color: orange;
}

form {
  max-width: 80%;
  margin: 4rem auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 8rem;

  .input-filed {
    input,
    select {
      display: inline-block;
      background: none;
      border: 1px solid rgba(54, 54, 54, 0.2);
      font-size: 1rem;
      padding: 20px;
      border-radius: 10px;
      width: 15vw;
    }
  }
}

label {
  display: block;
  font-size: 1rem;
  font-weight: 700;
  opacity: 0.7;
  padding-bottom: 0.8rem;
}

.booking-search-btn {
  display: block;
  background-color: #3d3d3d;
  border: none;
  color: white;
  padding: 20px 10px;
  width: 10vw;
  font-size: 1.1rem;
  border-radius: 10px;

  &:hover {
    background-color: #202020;
  }

  &:active {
    background-color: #141414;
  }
}

.hide {
  opacity: 0;
}

@media (max-width: 1000px) {
  form {
    flex-direction: column;

    .input-filed {
      input,
      select {
        display: block;
        width: 70vw;
      }
    }

    .booking-search-btn {
      display: block;
      width: 70vw;
    }
  }
}

@media (max-width: 600px) {
  .booking-cities {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  .booking-img {
    max-width: clamp(250px, 22vw, 350px);
    border-radius: 5px;
  }
}
