//Newsletter

.newsletter {
  max-width: 50%;
  margin: 0 auto;
  position: relative;

  .subscribe {
    padding: 1rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.6rem;
  }

  p {
    max-width: clamp(16rem, 32vw, 30rem);
  }

  button {
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 2px;

    &:hover {
      background-color: rgb(61, 61, 61);
      color: white;
    }

    &:active {
      background-color: rgb(41, 41, 41);
    }
  }

  input,
  button {
    background-color: transparent;
    border: 1px solid rgba(0, 0, 0, 0.4);
    padding: 1rem;
    border-radius: 5px;
  }

  input {
    width: clamp(10rem, 10vw, 16rem);
  }
}

.footer-content {
  display: flex;
  justify-content: space-evenly;
  color: black;
}

.footer-logo {
  font-size: 1.3rem;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.4);
  padding-bottom: 1rem;
  margin-bottom: 2rem;

  img {
    background-color: black;
    padding: 7px 0px 7px 7px;
    border-radius: 50px;
  }
}

.email {
  width: 16px;
}

.social-links {
  display: flex;
  gap: 1rem;
  img {
    width: 20px;
  }
}

.contact-item {
  display: flex;
  gap: 0.8rem;
}

footer li {
  padding: 8px 0;
}

footer h5 {
  font-size: 1rem;
  font-weight: 600;
  padding-bottom: 8px;
}

footer a {
  text-decoration: none;
  color: inherit;
}

@media (max-width: 800px) {
  .footer-content {
    flex-direction: column;
    padding: 0 1rem;
  }

  .footer-subtitle {
    padding-top: 1.5rem;
  }
}

@media (max-width: 1000px) {
  .newsletter {
    max-width: 80%;
    .subscribe {
      padding: 0.5rem 2rem;
    }

    p {
    }

    .subscribe {
      * {
        margin: 0.1 0;
      }
    }
  }
}
