// Hamburger menu
.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  border-radius: 3px;
  background-color: white;
}

.hamburger-menu {
  display: none;
}

// Close button inside hamburger menu

// .close-btn {
//   width: 20px;
//   position: absolute;
//   right: 25px;
//   top: 25px;
//   display: none;
// }

// Overlay

.overlay {
  display: none;
}

//For screens with max width 1000px

@media (max-width: 1000px) {
  .overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
    cursor: pointer;
  }
}
