.partners-logos {
  display: flex;
  justify-content: center;
  gap: 4rem;
  align-items: center;
  padding-top: 3rem;
}

.partner-logo {
  opacity: 0.8;
  width: clamp(6rem, 10vw, 13rem);

  &:hover {
    opacity: 1;
  }
}

.booking-logo {
  transform: translateY(2px);
  width: clamp(7rem, 11vw, 14rem);
}

@media (max-width: 800px) {
  .partners-logos {
    flex-direction: column;
    gap: 3rem;
    padding-top: 4rem;
  }
}

// Testimonials section

.testimonials-section {
  background-image: url("/images/testimonials_bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  max-width: 80%;
  margin: 0 auto;
  position: relative;
  z-index: 2;

  .bg-overlay {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.4);
    height: 100%;
    width: 100%;
    z-index: -2;
  }
}

.user-pic {
  max-width: clamp(3.5rem, 4vw, 5.7rem);
  border-radius: 100%;
}

.testimonial {
  padding: 6rem 0;
  margin: 0 2rem;
}

.testimonial-text {
  background-color: white;
  border-radius: 1rem;
  padding: 2.2rem;
  margin: 1.5rem 0;
}

.user-info {
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 1rem;
  color: white;
  font-size: clamp(0.7rem, 3vw, 1.1rem);
  font-weight: 700;

  span {
    font-size: clamp(0.5rem, 1.4vw, 0.8rem);
    opacity: 0.8;
    font-weight: 700;
  }
}

@media (max-width: 1000px) {
  .testimonials-section {
    flex-direction: column;
    gap: 1rem;
  }

  .testimonial {
    padding: 1rem 2rem;
    margin: 0 2rem;
  }
}
