.swiper-section {
  text-align: center;
  padding: 5rem 0;
}

.swiper-title {
  padding: 20px 0 80px;

  h2 {
    font-size: clamp(1.4rem, 3vw, 2rem);
    padding-top: 0.5rem;
    letter-spacing: 1px;
  }

  p {
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: clamp(0.7rem, 2vw, 1.1rem);
  }
}

.swiper-slide {
  position: relative;

  &:hover p {
    font-size: 1.8rem;
    transition: all 0.3s;

    small {
      font-size: 0.8rem;
      transition: all 0.3s;
    }
  }

  &:hover img {
    filter: grayscale(0);
    transition: all 0.3s;
  }

  p {
    text-align: left;
    font-size: 1.3rem;
    font-weight: 700;
    color: white;
    position: absolute;
    bottom: 1rem;
    left: 0;
    transform: translateX(4rem);
    line-height: 1rem;

    small {
      font-size: 0.6rem;
    }
  }
}

.slide-picture {
  max-width: 350px;
  height: 500px;
  border-radius: 5px;
  position: relative;
  filter: grayscale(1);
}

.swiper-button-prev,
.swiper-button-next {
  color: black !important;
}

@media (max-width: 1000px) {
  .slide-picture {
    max-width: 200px;
    height: 300px;
    filter: grayscale(0);
  }

  .swiper-slide {
    p {
      font-size: 1.2rem;
      transform: translateX(2rem);
    }

    &:hover p {
      font-size: 1.2rem;

      small {
        font-size: 0.6rem;
      }
    }
  }
}

@media (max-width: 500px) {
  .swiper-slide {
    p {
      font-size: 1rem;
      transform: translateX(1.4rem);
    }

    &:hover p {
      font-size: 1rem;
    }
  }
}
