@import url("https://fonts.googleapis.com/css2?family=Albert+Sans:wght@400;500;600;700&display=swap");
@import "./navbar";
@import "./slider";
@import "./aboutus";
@import "./booking";
@import "./parteners";
@import "./footer";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Albert Sans", sans-serif;
  font-size: clamp(0.8rem, 1.17vw, 0.9rem);
  height: 100vh;

  // Hide the scrollbars

  body::-webkit-scrollbar {
    display: none;
  }
}

.container {
  width: clamp(16rem, 100vw, 137rem);
}

//Components

ul {
  list-style: none;
}

a {
  text-decoration: none;
  cursor: pointer;
}

button {
  cursor: pointer;

  &:hover {
    background-color: #202020;
  }

  &:active {
    background-color: #141414;
  }
}

section {
  padding: 5rem 0;
}

.aboutus-section,
.booking-section,
.parteners-section {
  max-width: 80%;
  margin: 0 auto;
}

footer {
  padding-bottom: 5rem;
}

button {
  cursor: pointer;
}

h1 {
  text-align: center;
  font-size: clamp(3rem, 12vw, 18rem);
  font-weight: 700;
  color: transparent;
  -webkit-text-stroke: 4px white;
  transition: ease-in-out 0.5s;

  &:hover {
    color: white;
    -webkit-text-stroke: 0px;
    transition: all 0.5s;
  }
}

.section-title {
  text-align: center;
  padding-bottom: 4rem;

  h2 {
    font-size: clamp(1.4rem, 3vw, 2rem);
    font-weight: 600;
    padding-top: 0.5rem;
    letter-spacing: 1px;
  }

  p {
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: clamp(0.7rem, 2vw, 1.1rem);
  }
}

h3 {
  font-size: clamp(1rem, 2.5vw, 1.8rem);
  color: #3d3d3d;
  padding-bottom: 10px;
  font-weight: 600;
}

h4 {
  font-size: clamp(0.8rem, 1.8vw, 1.5rem);
  color: #3d3d3d;
  padding-bottom: 1rem;
  font-weight: 500;
}

// Hero Section

.hero {
  color: white;
  background-image: url("/images/dan-otis-OYFHT4X5isg-unsplash.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 3rem 3rem;
  height: 100vh;
  margin-bottom: 2rem;
}

// Title

.hero-title {
  text-align: center;
  padding: clamp(2rem, 10vh, 5rem);

  .small-title {
    text-align: center;
    font-size: clamp(1rem, 2vw, 7rem);
    font-weight: 300;
    letter-spacing: 8px;
    margin: 0;
  }
}

//Destinations

.hero-destinations {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 60px;
  padding-top: 5rem;
  cursor: pointer;

  .destination {
    a {
      color: white;
      display: block;
      background-color: rgba(255, 255, 255, 0.1);
      padding: 10px 100px 10px 20px;
      border-radius: 5px;
      backdrop-filter: blur(1px);
      line-height: 1rem;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    small {
      opacity: 0.5;
    }

    span {
      padding-left: 10px;
    }
  }
  .destination-city {
    margin: 0;
  }
}

//For screens with max width 1000px

@media (max-width: 1000px) {
  .hero-title {
    padding: 5rem 1rem;
    h1 {
      color: white;
      -webkit-text-stroke: 0px;
      letter-spacing: 1px;
    }
  }

  .hero-destinations {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-top: 2rem;

    .destination {
      text-align: left;
      width: 220px;
    }
  }
}

@media (max-height: 650px) {
  .hero {
    height: auto;
  }
}
