@import url("https://fonts.googleapis.com/css2?family=Albert+Sans:wght@400;500;600;700&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Albert Sans", sans-serif;
  font-size: clamp(0.8rem, 1.17vw, 0.9rem);
  height: 100vh;
}

body::-webkit-scrollbar {
  display: none;
}

.container {
  width: clamp(16rem, 100vw, 137rem);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  cursor: pointer;
}

button {
  cursor: pointer;
  letter-spacing: 2px;
}

button:hover {
  background-color: #202020;
  color: white;
}

button:active {
  background-color: #141414;
  color: white;
}

section {
  padding: 4rem 0;
}

footer {
  padding-bottom: 4rem;
}

.aboutus-section,
.booking-section,
.parteners-section,
.newsletter-section {
  max-width: 80%;
  margin: 0 auto;
}

button {
  cursor: pointer;
  letter-spacing: 2px;
}

h1 {
  text-align: center;
  font-size: clamp(3rem, 12vw, 18rem);
  font-weight: 700;
  color: transparent;
  -webkit-text-stroke: 4px white;
  -webkit-transition: ease-in-out 0.5s;
  transition: ease-in-out 0.5s;
}

h1:hover {
  color: white;
  -webkit-text-stroke: 0px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

h2 {
  font-size: clamp(1.8rem, 3vw, 2rem);
  font-weight: 600;
  padding-top: 0.5rem;
  letter-spacing: 1px;
}

h3 {
  font-size: clamp(1rem, 2.5vw, 1.8rem);
  color: #3d3d3d;
  padding-bottom: 10px;
  font-weight: 600;
}

h4 {
  font-size: clamp(0.8rem, 1.8vw, 1.5rem);
  color: #3d3d3d;
  padding-bottom: 0.2rem;
  font-weight: 500;
}

h5 {
  font-size: 1rem;
  font-weight: 600;
  padding-bottom: 8px;
}

.section-title {
  text-align: center;
  padding-bottom: 4rem;
}

.section-title p {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: clamp(0.7rem, 2vw, 1.1rem);
}

label {
  display: block;
  font-size: 1rem;
  font-weight: 700;
  opacity: 0.7;
  padding: 0.3rem 0;
}

.hero {
  color: white;
  background-image: url(../images/Hero-bg.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 3rem 3rem;
  height: 100vh;
  margin-bottom: 2rem;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
}

.logo .logo-text {
  font-weight: 500;
  letter-spacing: 3px;
  margin: 0;
}

.logo img {
  max-width: 3rem;
  opacity: 0.8;
  margin-right: 0.4rem;
  border: 4px solid white;
  border-radius: 50%;
  padding: 0.4rem;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  border-radius: 3px;
  background-color: white;
}

.menu-open-overlay {
  display: none;
}

.hamburger-menu-icon {
  display: none;
}

nav {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  position: unset;
  display: block;
  width: auto;
  height: auto;
}

nav .close,
nav .navbar-logo-open-menu {
  display: none;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
}

nav ul a {
  color: white;
  padding: 0.5em 1.5em;
  font-size: 0.9rem;
}

nav ul a:hover, nav ul a:active {
  border-bottom: 2px solid white;
}

.menu-open-overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
  cursor: pointer;
}

.open-nav {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.contact-list-open-menu {
  display: none;
}

.hero-title {
  text-align: center;
  padding: clamp(2rem, 10vh, 5rem);
}

.hero-title .small-title {
  text-align: center;
  font-size: clamp(1rem, 2vw, 7rem);
  font-weight: 300;
  letter-spacing: 8px;
  margin: 0;
}

.hero-destinations {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 60px;
  padding-top: 5rem;
  cursor: pointer;
}

.hero-destinations .destination a {
  color: white;
  display: block;
  background-color: rgba(255, 255, 255, 0.1);
  padding: 10px 100px 10px 20px;
  border-radius: 5px;
  -webkit-backdrop-filter: blur(1px);
          backdrop-filter: blur(1px);
  line-height: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero-destinations .destination small {
  opacity: 0.5;
}

.hero-destinations .destination span {
  padding-left: 10px;
}

.hero-destinations .destination-city {
  margin: 0;
}

.swiper-section {
  text-align: center;
}

.swiper-slide {
  position: relative;
  text-align: center;
  color: white;
}

figcaption {
  font-size: 1.5rem;
  font-weight: 500;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  line-height: 0.8;
  opacity: 0;
}

figcaption small {
  font-size: 1rem;
  font-weight: 400;
}

.slide-img {
  max-width: 250px;
  height: 400px;
  border-radius: 5px;
  cursor: pointer;
}

.swiper-slide * {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.swiper-slide:hover figcaption {
  opacity: 1;
}

.swiper-slide:hover img {
  -webkit-filter: blur(1.5px);
          filter: blur(1.5px);
}

.swiper-button-prev,
.swiper-button-next {
  color: black !important;
}

.about-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2rem;
}

.about-img {
  max-width: clamp(32rem, 52%, 40rem);
  width: 100%;
  height: auto;
  border-radius: 5px;
}

.about-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about-text .about-info {
  max-width: clamp(400px, 80%, 700px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2rem;
  padding-bottom: 20px;
  margin: auto;
}

.about-text .about-info .paragraph-number {
  font-size: clamp(1rem, 2.5vw, 1.8rem);
  font-weight: 700;
  color: #9b9b9b;
  max-width: 20px;
}

.about-text .about-info .about-paragraph p {
  max-width: clamp(15rem, 40vw, 38rem);
}

.booking-cities {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.booking-img {
  max-width: clamp(150px, 22vw, 350px);
  border-radius: 5px;
}

.city-rating {
  padding-bottom: 1.5rem;
}

.city-rating span {
  font-size: clamp(0.7rem, 1.5vw, 1.1rem);
  opacity: 0.8;
}

.checked {
  color: orange;
}

.booking-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 1rem;
}

.booking-form .input-filed input,
.booking-form .input-filed select {
  display: inline-block;
  background: none;
  border: 1px solid rgba(54, 54, 54, 0.2);
  font-size: 1rem;
  padding: 20px;
  border-radius: 10px;
  min-width: 15vw;
}

.booking-search-btn {
  display: block;
  background-color: #3d3d3d;
  border: none;
  color: white;
  padding: 20px 10px;
  width: 10vw;
  font-size: 1.1rem;
  border-radius: 10px;
}

.hide {
  opacity: 0;
}

.partners-logos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 4rem;
  padding-top: 3rem;
}

.partner-logo {
  opacity: 0.7;
  width: clamp(6rem, 10vw, 13rem);
}

.partner-logo:hover {
  opacity: 1;
}

.booking-logo {
  -webkit-transform: translateY(2px);
          transform: translateY(2px);
  width: clamp(7rem, 11vw, 14rem);
}

.testimonials-section {
  background-image: url(../images/testimonials_bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 5px;
  position: relative;
  z-index: 2;
}

.testimonials-section .bg-overlay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.4);
  height: 100%;
  width: 100%;
  z-index: -2;
}

.testimonials-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 3rem;
  padding: 0 6rem;
}

.user-pic {
  max-width: clamp(3.5rem, 4vw, 5.7rem);
  border-radius: 100%;
}

.testimonial {
  padding: 6rem 0;
  margin: 0 2rem;
}

.testimonial-text {
  background-color: white;
  border-radius: 1rem;
  padding: 2.2rem;
  margin: 1.5rem 0;
  min-width: 200px;
}

.user-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
  color: white;
  font-size: clamp(0.7rem, 3vw, 1.1rem);
  font-weight: 700;
}

.user-info span {
  font-size: clamp(0.5rem, 1.4vw, 0.8rem);
  opacity: 0.8;
  font-weight: 700;
}

.newsletter-section {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.6rem;
}

.newsletter-text {
  max-width: clamp(16rem, 30vw, 26rem);
}

.newsletter-input,
.newsletter-button {
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.4);
  padding: 1rem;
  border-radius: 5px;
  color: black;
}

.newsletter-button {
  font-size: 0.9rem;
  font-weight: 600;
}

.newsletter-input {
  width: clamp(10rem, 10vw, 16rem);
}

.footer-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  color: black;
}

.footer-logo {
  font-size: 1.3rem;
  font-weight: 600;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.5rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.4);
  padding-bottom: 1rem;
  margin-bottom: 2rem;
}

.footer-logo img {
  max-width: 5rem;
  background-color: black;
  padding: 0.8rem;
  border-radius: 50%;
}

.email {
  width: 16px;
}

.social-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
}

.social-links img {
  width: 20px;
}

.contact-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.8rem;
}

footer li {
  padding: 8px 0;
}

footer a {
  color: black;
}

.up {
  color: black;
  padding: 1rem;
}

.up svg {
  width: 3.5rem;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.up svg:hover path {
  -webkit-transform: translateY(2px);
          transform: translateY(2px);
  -webkit-transition: ease-in-out 0.3s;
  transition: ease-in-out 0.3s;
}

section {
  -webkit-transform: translateY(100px);
          transform: translateY(100px);
}

.visible {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

@media (max-width: 1200px) {
  .about-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 2rem;
  }
  .about-img {
    max-width: 700px;
    width: 100%;
    height: auto;
    border-radius: 5px;
    margin: auto;
  }
  .about-info {
    gap: 1.5rem;
  }
}

@media (max-width: 1000px) {
  .hero-title {
    padding: 5rem 1rem;
  }
  .hero-title h1 {
    color: white;
    -webkit-text-stroke: 0px;
    letter-spacing: 1px;
  }
  .hero-destinations {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 10px;
    padding-top: 2rem;
  }
  .hero-destinations .destination {
    text-align: left;
    width: 220px;
  }
  .testimonial {
    padding: 0;
    margin: 0 2rem;
  }
  .booking-form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .booking-form .input-filed input,
  .booking-form .input-filed select {
    display: block;
    width: 70vw;
  }
  .booking-form .booking-search-btn {
    display: block;
    width: 70vw;
  }
  .testimonials-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 0;
    padding: 0;
  }
  .testimonial {
    padding: 0;
    margin: 0 2rem;
  }
  .testimonial-text {
    max-width: 400px;
  }
  .newsletter {
    max-width: 80%;
  }
  .newsletter .subscribe {
    padding: 0.5rem 2rem;
  }
  .newsletter .subscribe * {
    margin: 0.1 0;
  }
}

@media (max-width: 768px) {
  section {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  .hamburger-menu-icon {
    display: block;
  }
  nav {
    position: fixed;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    right: 0;
    top: 0;
    background: white;
    height: 100vh;
    width: 50vw;
    z-index: 999;
    text-transform: uppercase;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    -webkit-transition: -webkit-transform 0.5s ease-in-out;
    transition: -webkit-transform 0.5s ease-in-out;
    transition: transform 0.5s ease-in-out;
    transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
    overflow: scroll;
  }
  nav ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0;
    margin-top: 6rem;
  }
  nav ul li {
    padding: 10px 0;
    border-bottom: 1px solid black;
  }
  nav ul li:nth-child(1) {
    border-top: 1px solid black;
  }
  nav ul a {
    color: black;
    padding: 0.75rem 2rem;
    display: block;
  }
  nav ul a:hover {
    background-color: rgba(253, 220, 189, 0.5);
    border-bottom: none;
    font-weight: 700;
  }
  nav .close {
    display: block;
    float: right;
    margin: 2rem;
    width: 20px;
  }
  nav .contact-list-open-menu {
    display: block;
    font-size: 0.7rem;
    color: black;
    margin: 2rem 0.7rem;
  }
  nav .contact-list-open-menu .contact-item {
    border: none;
  }
  .footer-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0 1rem;
  }
  .footer-subtitle {
    padding-top: 1.5rem;
  }
}

@media (max-width: 650px) {
  .booking-cities {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .booking-img {
    max-width: clamp(250px, 22vw, 350px);
    border-radius: 5px;
  }
  .partners-logos {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 3rem;
    padding-top: 4rem;
  }
}

@media (max-width: 576px) {
  .newsletter-input {
    min-width: 55vw;
  }
  .newsletter-button {
    display: block;
    width: 100%;
    margin-top: 0.5rem;
  }
}

@media (max-height: 650px) {
  .hero {
    height: auto;
  }
}
/*# sourceMappingURL=style.css.map */